html  
    head
        title This is my first Pug file
        link(href='styles/footer.css', rel='stylesheet')
    body
      .footer
        a.logo(href="#")
          img(src="1kp-logo-white.svg")
        a.email-us(href="mailto:mpowered-contact@umich.edu" target="_top")
          img(src="mail-icon.svg")