html  
    head
        title This is my first Pug file
        link(href='styles/footer.css', rel='stylesheet')
    body
      .footer
        a.logo(href="#")
          img(src="1kp-logo-white.svg")
        p mpowered-contact@umich.edu