html  
    head
        title This is my first Pug file
    body
      include global/nav.pug
      header
          p My soon to be menu
      section
          p This is a post about Pug template engine, enjoy it!
      footer
          cool footer with lots of copyrights