html  
    head
        title This is my first Pug file
        link(href='styles/stylesheet.css', rel='stylesheet')
        link(href='styles/header.css', rel='stylesheet')
        link(href='styles/what-is-1kp.css', rel='stylesheet')
        link(href='styles/pitch-categories.css', rel='stylesheet')
        link(href='styles/how-to-submit.css', rel='stylesheet')
        link(href='styles/faq.css', rel='stylesheet')
        link(href='styles/sponsors.css', rel='stylesheet')
        link(href='styles/video.css', rel='stylesheet')

    
    body
      include nav.pug
      
      .section.yellow-background
        h1 LAUNCHING SOON

      .section.clock
        h1 COUNTDOWN HERE

      .section.white-background
        p white

      .section.about
        .what-is-1kp
          h1 What is 1000 Pitches?
          p
            span.yellow 1000 Pitches
            |  is a month-long, campus-wide pitch competition at the University of Michigan.
          p
            span.yellow 1000 Pitches
            |  grants any student the opportunity to voice and share their ideas, promoting entrepreneurship in its most intuitive and raw form: the elevator pitch.

        .what-counts-as-pitch
          h1 What counts as a pitch?
          p
            span.yellow Any innovative idea
            |  will be considered a pitch.
          p
            span.yellow We reccomend that pitches:
          p Are at least 30 seconds long.
          p
          p
            | Describe an idea, improvement, 
            br
            | or solution to a problem.
          p
            | Describe how you would go about 
            br
            | putting your pitch into action
          p
            | Describe why your idea is 
            br
            | different/ better than similar ideas


      .section
        h1 Pitch Categories Include:
      .section.pitch-categories
        p.cat Machine Learning
          img(src="image", alt="")
        p.cat Mobility
          img(src="image", alt="")
        p.cat Internet of Things
          img(src="image", alt="")
        p.cat Healthcare
          img(src="image", alt="")
        p.cat M-Provements
          img(src="image", alt="")
        p.cat Fintech
          img(src="image", alt="")
        p.cat Sustainability
          img(src="image", alt="")
        p.cat Consumer Products
          img(src="image", alt="")
        

      .section.how-to-submit
        h1 HOW TO SUBMIT [SECTION]

      .section.faq
        h1 FAQ [SECTION]
        
      .section.sponsors
        h1 SPONSORS [SECTION]

      .section.video
        h1 VIDEO HERE


      include footer.pug