html  
    head
        title This is my first Pug file
        link(href='styles/nav.css', rel='stylesheet')
        script(src='main.js')
        
        
    body
      .navbar
        span.navbar-toggle#js-navbar-toggle ☰
        .logo
          img(src="1000pitcheslogo.svg")
        ul.main-nav#js-menu
          li
            a.nav-links(href="#about") ABOUT
          //li
            a.nav-links(href="#submissions") SUBMISSIONS
          li
            a.nav-links(href="#faq") FAQ
          li
            a.nav-links(href="#sponsors") SPONSORS
          li.submit
            a#submit.nav-links(href="https://airtable.com/shrGruUR7RT3qn2zz" target="_blank") SUBMIT A PITCH
