.footer {
  background-color: #3B65B8;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.footer h1 {
  text-transform: none !important;
  font-size: 37px !important;
  margin: 0 !important;
}

.footer {
  overflow: hidden;
  padding: 10px 0;
}

.footer .logo {
  float: left;
}

.email-us img{
  height: 30px;
  float: right;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

.instagram img{
  height: 25px;
  float: right;
  float: right;
  margin-top: 32px;
  margin-right: 30px;
}