.sponsors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sponsor{
  width: 100%;
}

.sponsor img {
  max-width: 270px;
  max-height: 100px;

  padding-bottom: 50px;
}

@media screen and (min-width: 900px) {
  .sponsor{
    width: 30%;
  }
}